
body{
    background-color: #ffefef;
}

.col{
    /*margin: 30px;*/
}
/*# fill image in card */
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
footer{
    position: center;
    bottom: auto;
}

.kost_footer{
    height: 22px;
    position: fixed;
    font-size: 15px;
    bottom: 10px;
    background-color: aquamarine;
    text-align: center;
}