{% extends 'index.html' %}

{% block card_items_container %}
    <div class="row">
        <div class="col-sm-11">
            <h6>Ваш баланс {{ my_balance }} грн. {додається через адмінку}</h6>
            <div class="cart_info">
                <table class="table table-hover">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="width: 350px">Name</th>
                        <th scope="col" style="width: 110px">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for item in items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {#                            <td class="cart_coverpage"><a href=""><img src="{{ book.coverpage.url }}"></a></td>#}
                            <td>
                                <a href="{% url 'book_detail_url' item.product_id %}"> {{ item.product |truncatechars:39 }} </a>
                            </td>
                            <td class="cart_quantity"><input type="text" name="qty" value="{{ item.quantity }}"
                                                             style="width: 50px"></td>
                            <td> {{ item.price }} </td>
                            <td>  {{ item.amount }}</td>
                            <td>
                                <form method="post" action="{% url 'cart_delete_item' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" style="color: blue"><u>delete</u></button>
                                </form>
                            </td>
                            <td><a href="{% url 'cart_delete_item_2' item.pk %}" class="btn btn-danger"><i
                                    class="fa fa-trash-o">X</i></a></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total: </b></td>
                        <td>{{ cart.amount }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="continue_or_next text-center">
                    <a href="{% url 'list_items' %}" class="btn _to_shope">Continue to Shop</a>
                    <a href="{% url 'make_order' %}" class="btn _to_continue">Process to Payment</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

