{% extends 'index.html' %}
{% load hitcount_tags %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}

{% block sidebar %} sidebar here {% endblock %}

{% block card_items_container %}

    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for book in object_list %}
                <div class="col" style="margin-bottom: 10px">
                    <div class="card shadow-sm">
                        <h4 class="card-text">{{ book.title }}</h4>
                        <div class="card-body">
                            <div class="media">
                                <div class="fill">
                                    {% if book.photo %}
                                        <img src="{{ book.photo.url }}" title="any photo" alt="alt"
                                             width="255" class="float-left mr-3 ">
                                    {% else %}
                                        <img src="https://img.yakaboo.ua/media/catalog/product/cache/1/image/398x565/31b681157c4c1a5551b0db4896e7972f/i/m/img_16351.jpg"
                                             title="default_photo"
                                             alt="фото заглушка"
                                             width="290" class="float-left mr-3">
                                    {% endif %}
                                </div>
                            </div>
                        <h5>Ціна:{{ book.price }}грн.</h5>
                            <p class="card-text">{{ book.description |truncatewords:20}} This content is a little bit longer.</p>
                            <form method="post" action="{% url 'add_item_to_cart' book.pk %}">
                                {% csrf_token %}

                                <label class="form-label" for="id_quantity">кількість:</label>
                                <input style="width: 55px" type="number" name="quantity" value="1" min="1" required id="id_quantity">
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'book_detail_url' book.pk %}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </a>
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart
                                        </button>
                                    </div>
                                    <small class="text-muted">views: {% get_hit_count for book %}</small>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
